.react-draggable {
  position: absolute;
  top: 0px;
  left: 0px;
  /* transition: 500ms height ease-in, 500ms width ease-in; */
}
.react-resizable-handle {
  height: 15px;
  width: 15px;
  z-index: 1;
  position: absolute;
  right: -3px;
  bottom: -3px;
}

.WindowExplorer {
  width: 100%;
  height: 100%;

  &.Window--maximized {
    width: calc(100% + 4px);
    height: calc(100% + 4px);
  }
}
