.react-draggable {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 7;
  /* transition: 500ms height ease-in, 500ms width ease-in; */

  &.react-draggable-maximized-hack {
    height: calc(100% - 29px) !important;
    width: calc(100% - 2px) !important;
  }
  .react-resizable-handle {
    height: 15px;
    width: 15px;
    z-index: 1;
    position: absolute;
    right: -3px;
    bottom: -3px;
  }
}

.react-draggable-dragging {
  .IframeWindow {
    > div,
    iframe,
    .pointerIssues {
      pointer-events: none;
    }
  }
  iframe {
    pointer-events: none;
  }
}

.Window {
  height: 100%;
  width: 100%;
  &.Window--maximized {
    width: calc(100% + 4px);
    height: calc(100% + 4px);
  }
  &:not(.Window--active) {
    filter: grayscale(100%);
  }
}
