.IframeWindow {
  iframe {
    height: 100%;
  }

  &--alert.WindowAlert {
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 8;
  }
}

.react-draggable-dragging {
  .IframeWindow {
    iframe {
      pointer-events: none;
    }
  }
}
