#root {
  display: flex;
  align-content: center;
  align-items: center;
  background-color: darkslategrey;
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  height: 100%;
  padding: 0;
  overflow: auto;
  margin: 0;
}

html,
body,
#root,
.w98 {
  overscroll-behavior: none !important;
}

.w98.desktop {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background-color: cadetblue;
  width: 100vw;
  height: 133vw;
}

@media (min-width: 640px) and (min-height: 480px) {
  #root {
    height: 100vh;
  }
  .w98.desktop {
    width: 640px;
    height: 480px;
  }
}

.desktopX2 {
  transform: scale(2);
}

.react-draggable > .Window {
  height: 100%;
  width: 100%;
}

.StandardMenuItem__button {
  padding-top: 1px;
}
