@font-face {
  font-family: AMIBios;
  src: url("./assets/ami_bios1.woff2") format("woff2");
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  overflow: hidden;
  margin: 0;
  background-color: darkslategrey;
}

#root {
  display: flex;
  align-content: center;
  align-items: center;
}
.screen,
.w98.desktop {
  width: 100vw;
  height: 80vh;
}

.w98 .WindowExplorer .window__menu {
  padding: 2px 0px 2px 12px;
  align-items: center;
}

@media (min-width: 640px) and (min-height: 500px) {
  #root {
    height: 100vh;
  }
}

.desktop.desktopX2 {
  transform: scale(2);
}

.desktop.desktopX1_5 {
  transform: scale(1.5);
}

.desktop.notMobile {
  width: 640px;
  height: 480px;
}

.desktop.fullScreen {
  height: 100vh;
  width: 100vw;
  transform: scale(1);
}

.react-draggable > .Window {
  height: 100%;
  width: 100%;
}

.StandardMenuItem__button {
  padding-top: 1px;
}

.TaskBar {
  z-index: 75;
}

.itIsNowSafeToTurnOffYourComputer {
  background-color: #000000 !important;
  display: flex;
}
.itIsNowSafeToTurnOffYourComputer:after {
  content: "It's now safe to turn off your computer.";
  padding: 16px;
  text-align: center;
  color: orange;
  margin: auto;
  font-size: 22px;
  font-family: AMIBios, "Courier New", Courier, monospace;
}
.desktop.windowsShuttingDown {
  background-color: #a6c7df;
  background-image: url("./assets/windowsShuttingDown-min.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (min-width: 640px) and (min-height: 480px) {
  .windowsShuttingDown {
    background-size: cover;
  }
}

@media (max-height: 500px) {
  .hideMobileY {
    display: none !important;
  }
}
@media (max-width: 600px) {
  .hideMobileX {
    display: none !important;
  }
}