@font-face {
  font-family: AMIBios;
  src: url("./assets/ami_bios1.woff2") format("woff2");
}

#root {
  display: flex;
  align-content: center;
  align-items: center;
}

.desktop.desktopX2 {
  transform: scale(2);
}

.desktop.desktopX1_5 {
  transform: scale(1.5);
}

.react-draggable > .Window {
  height: 100%;
  width: 100%;
}

.StandardMenuItem__button {
  padding-top: 1px;
}

.Window.Window--maximized {
  width: calc(100% + 4px);
  height: calc(100% + 4px);
}

.itIsNowSafeToTurnOffYourComputer {
  background-color: #000000 !important;
  display: flex;
}
.itIsNowSafeToTurnOffYourComputer:after {
  content: "It's now safe to turn off your computer.";
  padding: 16px;
  text-align: center;
  color: orange;
  margin: auto;
  font-size: 22px;
  font-family: AMIBios, "Courier New", Courier, monospace;
}
.desktop.windowsShuttingDown {
  background-color: #a6c7df;
  background-image: url("./assets/windowsShuttingDown-min.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (min-width: 640px) and (min-height: 480px) {
  .windowsShuttingDown {
    background-size: cover;
  }
}
